body {
  background-color: #d28864;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
 
}

.info_services {
  background: #f8f4e5;
  color: #d28864;
  padding: clamp(24px, 5vw, 50px) clamp(16px, 8vw, 100px);
  width: 100%;
  max-width: 900px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
 line-height: 30px;
  height: auto;
  
}



.info_services > ul {
  text-align: left;
}

.info_services > h2,
.info_services > h1 {
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  font-family: "Old Standard TT", serif;
  
}
.info_services > h1 {
  text-align: center;
}

.info_services > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: none;
  width: 100%;
  margin-top: 50px;
  min-height: 48px;
  padding: 0 20px;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-radius: 10px;
  background-color: #d28864;
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  --fc-primary-color-hue: 18;
  --fc-error-color-hue: 356;
  --fc-primary-hsl: var(--fc-primary-color-hue), 93%, 62%;
  --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;
}


@media screen and (max-width: 767px) {

.info_services > ul {

  padding-left: 10px;

}

.info_services > a {

  width: auto;
  display: flex;

}
#payhip_iframe_0{
  height: 100vh;
}
}